<a href="https://colab.research.google.com/github/arjun-g-19/ArjunGaikwad_AIMLBootcamp_Genzeon_2023/blob/main/Day2_06_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
#Implementing String methods
first_name = "Johnathan"
last_name = "Doe"
cities = ["New York", "London","Abu Dhabi","Beijing"]
message = "John Doe has travelled the whole world"
age = 30
phone = 9876543

#slicing
part = first_name[0:4]
print(part)

John

In [5]:
#Modify Strings
upper_name = (first_name +" "+ last_name).upper()
print(upper_name)

JOHNATHAN DOE

In [6]:
upper_name = upper_name.append("  ")

AttributeError: ignored

In [7]:
spaced_name = " " + upper_name + " "

In [12]:
print(spaced_name  ,len(spaced_name))

 JOHNATHAN DOE  15

In [14]:
unspaced_name = spaced_name.strip()
print(unspaced_name, len(unspaced_name))

JOHNATHAN DOE 13

In [15]:
#String Format
info = "{} {} has travelled the world and is {} years of age"
print(info.format(first_name, last_name, age))

Johnathan Doe has travelled the world and is 30 years of age

In [16]:
print(f'{first_name} {last_name} has travelled the world and is just {age} years old')

Johnathan Doe has travelled the world and is just 30 years old

In [17]:
print(first_name, last_name," has travelled the world and is just ",age," years old")

Johnathan Doe  has travelled the world and is just  30  years old

In [18]:
message.replace(" ","\r")
print(message)

John Doe has travelled the whole world

In [22]:
print(message.replace(" ","\n\r"))

John
Doe
has
travelled
the
whole
world

In [28]:
print(message.center(50,"*"))

******John Doe has travelled the whole world******

In [31]:
print(message.count("world",0,15))

0

In [32]:
print(message.encode(encoding="ascii",errors = "replace"))

b'John Doe has travelled the whole world'

In [33]:
print("!@#$%*&()BHVDESARWA  ".encode(encoding='ascii',errors='replace'))

b'!@#$%*&()BHVDESARWA  '

In [44]:
position = message.find("world")

if position > 0:
  print(position)
  print(message.replace("world","WORLD"))

33
John Doe has travelled the whole WORLD

In [45]:
if "9766381183".isdigit():
  print("Valid Phone Number")
else:
  print("Invalid Phone Number")

Valid Phone Number

In [46]:
# List to string
all_cities = cities.join()
print(all_cities)

AttributeError: ignored

In [52]:
all_cities = ", ".join(cities)
print(all_cities)

New York, London, Abu Dhabi, Beijing

In [55]:
print(f"{first_name} {last_name} has travelled the whole world including cities like",", ".join(cities))

Johnathan Doe has travelled the whole world including cities like New York, London, Abu Dhabi, Beijing

In [57]:
#maketrans() method
info = "Mr. Doe has total wealth of # million dollars"
my_table = str.maketrans("#","2")
print(info.translate(my_table))

Mr. Doe has total wealth of 2 million dollars

In [58]:
print("Mr Nolan has # sons".translate(my_table))

Mr Nolan has 2 sons

In [60]:
full_name = "Shubham Mhaske"
my_table = str.maketrans("aeiouAEIOU","**********","V")
print(full_name.translate(my_table))

Sh*bh*m Mh*sk*

In [61]:
print(info)

Mr. Doe has total wealth of # million dollars

In [62]:
print(info.partition("wealth"))

('Mr. Doe has total ', 'wealth', ' of # million dollars')

In [63]:
#List Methods
colors = ["red","violet","green","orange","blue","indigo","yellow"]
print(len(colors))
colors

7

['red', 'violet', 'green', 'orange', 'blue', 'indigo', 'yellow']

In [67]:
colors.extend(["are","the","colors","of","rainbow"])

In [65]:
colors

['red',
 'violet',
 'green',
 'orange',
 'blue',
 'indigo',
 'yellow',
 'are',
 'the',
 'colors',
 'of',
 'rainbow']

In [68]:
print(colors.reverse())

None

In [69]:
colors

['rainbow',
 'of',
 'colors',
 'the',
 'are',
 'rainbow',
 'of',
 'colors',
 'the',
 'are',
 'yellow',
 'indigo',
 'blue',
 'orange',
 'green',
 'violet',
 'red']

In [73]:
import random
number = random.randint(0,9)
user_input = -1
flag = True
while number != user_input and flag == True:
  user_input = int(input("Enter a number:-"))
  if number == user_input:
    flag = False

Enter a number:-1
Enter a number:-2
Enter a number:-3
Enter a number:-4
Enter a number:-5
Enter a number:-6
Enter a number:-7
Enter a number:-8
Enter a number:-9

KeyboardInterrupt: ignored

In [74]:
#tuples
tup0=(1,2,3,4)
tup1=("hi",1.3,5)
tup2 = ("hello",tup0,tup1)

#indexing
print(tup2[-3])

hello

In [76]:
print(tup2[2][-1::-1])

(5, 1.3, 'hi')

In [77]:
#tuple methods
tup0.count(1)

1

In [79]:
print(max(tup0))

4

In [80]:
print(len(tup0))

4

In [81]:
#Sets
s1={1,3}
s2={1,2,3,"hi",(1,2,3,4)}

In [84]:
s3 = set(s2)
s3

{(1, 2, 3, 4), 1, 2, 3, 'hi'}

In [85]:
s1.update([2,3,4])

In [86]:
s1 #set is ordered

{1, 2, 3, 4}

In [87]:
s1.remove(1)

In [88]:
s1

{2, 3, 4}

In [89]:
s1.find(1)

AttributeError: ignored

In [90]:
s1.remove(9)

KeyError: ignored

In [91]:
s1.discard(9)

In [93]:
s1={1,2,3,4}
s2={4,5,6,7}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7}

In [96]:
print(s1&s2)

{4}

In [97]:
print(s1-s2)

{1, 2, 3}

In [99]:
#Dictionaries
dict={"name":"Arjun",
      "phno":12345677,
      "address":"Maharashtra"}
print(dict["name"])

Arjun

In [100]:
print(dict.keys())

dict_keys(['name', 'phno', 'address'])

In [102]:
print(dict.fromkeys("name","phno"))

{'n': 'phno', 'a': 'phno', 'm': 'phno', 'e': 'phno'}

In [104]:
company = "genzeon"
language="Python"
people = "Trainees"

#printing
print("%s are learning %s at %s"%(people,language,company))

Trainees are learning Python at genzeon

In [105]:
#Decision Making:
var = 10
if var > 0:
  print("Greater")

else:
  print("Lesser")

Greater

In [109]:
#Nested if Else
age = int(input("Enter your age:-"))
ticket =  1000
if(age <= 5 ):
  if(age == 5):
    bill = ticket * 5
  
  else:
   bill=0

elif age > 5 and age <= 18:
  bill = ticket // 2

elif age > 18 and age < 60:
  bill = ticket

else:
  bill = ticket // 10

print(bill)

Enter your age:-6
500

In [114]:
#loops
#for loops
import random

my_list=[]
for i in range(1,10):
  number = random.randrange(0,1000)
  my_list.append(number)

print(my_list)

[417, 65, 455, 52, 35, 685, 908, 926, 74]

In [131]:
for i in range(ord("A"),ord("Z")):
  print(chr(i))

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y

In [ ]:
#Control Statement

#break
# for l in "arzzoun":
#   if l == "z":
#     continue
#   else:
#     print(l)


#pass
for i in range(0,100):
  if i % 5 == 0:
    pass
  else:
    print(i)